.indexArticle {
    max-height: 250px;
    overflow: hidden;
  }
  
  .indexArticle img {
    display: none;
  }
  
  .articleContent img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  
  .articleContent .small {
    width: 100%;
    max-width: 250px;
  }
  
  .articleContent .large {
    width: 100%;
    max-width: 600px;
  }

  .popup {
    padding-top: 8px;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    height: 640px;
    line-height: 640px;
    background: transparent;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next,
  .ant-carousel .slick-prev:hover,
  .ant-carousel .slick-next:hover {
    font-size: inherit;
    color: currentColor;
  }

  .indicators {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    padding: 0;
    margin-bottom: 0;
  }
  .indicators li {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1px;
    cursor: pointer;
    opacity: 0.3;
  }
  
  .indicators li.active {
    opacity: 1;
  }
  
  .sliderButton {
    background-color: whitesmoke;
    color:black;
    position: relative;
    left: 25px;
    bottom: 50px;
    height: 20px;
  }
